@import './bower_components/bootstrap/less/bootstrap.less';

table {
  .table;
  .table-bordered;
  .table-striped;
}


[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.widget-logo-medium {
  width: 30px;
  height: 30px;
  vertical-align:middle;
}

.ds-widget-scoreboard {
  .ds-widget-game-status {
    float: right;
  }

  .ds-widget-logo {
    .widget-logo-medium
  }

  .winner { font-weight: bold; }
}

.ds-widget-leaders {
  .ds-widget-logo {
    .widget-logo-medium
  }
}

.ds-widget-team-stats {
  .ds-widget-logo {
    .widget-logo-medium
  }
}

.ds-widget-player-stats-container {
 .ds-widget-logo {
    .widget-logo-medium
  }
}

.ds-widget-play-by-play {
  td { vertical-align: middle; }
  .ds-widget-logo {
    width: 24px;
    height: 24px;
    vertical-align:middle;
  }
  .play-by-play-spot {
    min-width: 160px;
    text-align: center;
  }
  .play-by-play-score {
    text-align: center;
  }
  .scoring { font-weight: bold; }

  .ds-widget-play-by-play-period-selector {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;

    li {
      float:left;
      margin-bottom: -1px;

      a {
        margin-right: 2px;
        border: 1px solid transparent;
        text-decoration: none;
        display: block;
        padding: 10px 15px;
      }

      &:hover { background-color: #ddd; }

      &.active > a {
        &, &:hover, &:focus {
          color: #555;
          cursor: default;
          background-color: #fff;
          border: 1px solid #ddd;
          border-bottom-color: transparent;
        }
      }
    }
  }

  .ds-widget-play-by-play-plays {
    margin-top: -10px;
    table {
      border-top: 1px solid #ddd;
      clear:both;
      padding-top: 10px;
    }
  }
}