@import './bower_components/bootstrap/less/bootstrap.less';

table {
  .table;
  .table-bordered;
  .table-striped;
}


[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.widget-logo-medium {
  width: 30px;
  height: 30px;
  vertical-align:middle;
}

.nfhs-scout-scoreboard {
  .nfhs-scout-game-status {
    float: right;
  }

  .nfhs-scout-logo {
    .widget-logo-medium
  }

  .nfhs-scout-winner { font-weight: bold; }
}

.nfhs-scout-leaders {
  .nfhs-scout-logo {
    .widget-logo-medium
  }
}

.nfhs-scout-team-stats {
  .nfhs-scout-logo {
    .widget-logo-medium
  }
}

.nfhs-scout-player-stats-container {
 .nfhs-scout-logo {
    .widget-logo-medium
  }
}

.nfhs-scout-play-by-play {
  td { vertical-align: middle; }
  .nfhs-scout-logo {
    width: 24px;
    height: 24px;
    vertical-align:middle;
  }
  .nfhs-scout-play-by-play-spot {
    min-width: 160px;
    text-align: center;
  }
  .nfhs-scout-play-by-play-score {
    text-align: center;
  }
  .nfhs-scout-scoring { font-weight: bold; }

  .nfhs-scout-play-by-play-period-selector {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;

    li {
      float:left;
      margin-bottom: -1px;

      a {
        margin-right: 2px;
        border: 1px solid transparent;
        text-decoration: none;
        display: block;
        padding: 10px 15px;
      }

      &:hover { background-color: #ddd; }

      &.active > a {
        &, &:hover, &:focus {
          color: #555;
          cursor: default;
          background-color: #fff;
          border: 1px solid #ddd;
          border-bottom-color: transparent;
        }
      }
    }
  }

  .nfhs-scout-play-by-play-plays {
    margin-top: -10px;
    table {
      border-top: 1px solid #ddd;
      clear:both;
      padding-top: 10px;
    }
  }
}

h4, .h4 {
  font-size: 18px;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

.nfhs-scout-tabs {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nfhs-scout-tabs>li.active>a, .nfhs-scout-tabs>li.active>a:hover, .nfhs-scout-tabs>li.active>a:focus {
  color: #555;
  cursor: default;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}
.nfhs-scout-tabs>li {
  float: left;
  margin-bottom: -1px;
}

.nfhs-scout-tabs>li>a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
  text-decoration:none;
}
.nfhs-scout-tabs>li>a {
  position: relative;
  display: block;
  padding: 10px 15px;
}

.nfhs-scout-tab-container {
  margin-top: -10px;
}
.nfhs-scout-tab-container>div{
  border: 1px solid #dddddd;
  clear:both;
  padding:10px;
}

