[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.card .dataonly .logo img {
  width: 52px;
  height: 52px;
}

.widget-logo-medium {
  width: 30px;
  height: 30px;
  vertical-align:middle;
}

.ds-widget-scoreboard {
  .ds-widget-game-status {
    float: right;
  }

  .ds-widget-logo {
    .widget-logo-medium
  }
}

.ds-widget-leaders {
  .ds-widget-logo {
    .widget-logo-medium
  }
}

.ds-widget-team-stats {
  .ds-widget-logo {
    .widget-logo-medium
  }
}

.nfhs-scout-playerstats {
 .ds-widget-logo {
    .widget-logo-medium
  }
}

.ds-widget-play-by-play {
  td { vertical-align: middle; }
  .ds-widget-logo {
    width: 24px;
    height: 24px;
    vertical-align:middle;
  }
  .play-by-play-spot {
    min-width: 160px;
    text-align: center;
  }
  .play-by-play-score {
    text-align: center;
  }
  .scoring { font-weight: bold; }
}