<div ng-show="statsAvailable" class="digital-scout-player-stats">
    <h3 class="digital-scout-heading">
        <img ng-src="{{awayLogo}}" ng-srcset="{{awayLogoHigh}} 2x" class="digital-scout-logo" /> {{awayName}}</h3>
    <table class="digital-scout-table" responsive-table>
        <thead>
            <tr>
                <th class="digital-scout-player-stats-player-name">Player</th>
                <th title="Field Goals Made">FGM</th>
                <th title="Three Point Shots Made" class="digital-scout-hidden-sm">3PM</th>
                <th title="Free Throws Made">FTM</th>
                <th title="Offensive Rebounds" class="digital-scout-hidden-sm">OREB</th>
                <th title="Defensive Rebounds" class="digital-scout-hidden-sm">DREB</th>
                <th title="Total Rebounds">REB</th>
                <th title="Minutes Played" class="digital-scout-hidden-sm">MIN</th>
                <th title="Assists">AST</th>
                <th title="Steals" class="digital-scout-hidden-sm">STL</th>
                <th title="Blocks" class="digital-scout-hidden-sm">BLK</th>
                <th title="Personal Fouls" class="digital-scout-hidden-sm">PF</th>
                <th title="Points">PTS</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="playerStat in playerStats[awayTeamSeasonId]">
                <td class="digital-scout-player-stats-player-name">
                    <a ng-show="playerStat.PlayerId > 0" href="{{(players|getPlayerById:playerStat.PlayerId:playerStat.TeamSeasonId).PlayerSlug}}"
                        title="Go to this player's profile" target="_blank">
                        {{(players|getPlayerById:playerStat.PlayerId:playerStat.TeamSeasonId).DisplayName}}
                    </a>
                    <span ng-hide="playerStat.PlayerId > 0">
                        {{(players|getPlayerById:playerStat.PlayerId:playerStat.TeamSeasonId).DisplayName}}
                    </span>
                </td>
                <td>{{playerStat.ShotsMade}}</td>
                <td class="digital-scout-hidden-sm">{{playerStat.ThreePointShotsMade}}</td>
                <td>{{playerStat.FreeThrowsMade}}</td>
                <td class="digital-scout-hidden-sm">{{playerStat.OffensiveRebounds}}</td>
                <td class="digital-scout-hidden-sm">{{playerStat.DefensiveRebounds}}</td>
                <td>{{playerStat.TotalRebounds}}</td>
                <td class="digital-scout-hidden-sm">{{playerStat.MinutesPlayed*60 | timeOnClock}}</td>
                <td>{{playerStat.Assists}}</td>
                <td class="digital-scout-hidden-sm">{{playerStat.Steals}}</td>
                <td class="digital-scout-hidden-sm">{{playerStat.Blocks}}</td>
                <td class="digital-scout-hidden-sm">{{playerStat.PersonalFouls}}</td>
                <td>{{playerStat.TotalPoints}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div ng-show="statsAvailable" class="digital-scout-player-stats">
    <h3 class="digital-scout-heading">
        <img ng-src="{{homeLogo}}" ng-srcset="{{homeLogoHigh}} 2x" class="digital-scout-logo" /> {{homeName}}</h3>
    <table class="digital-scout-table" responsive-table>
        <thead>
            <tr>
                <th class="digital-scout-player-stats-player-name">Player</th>
                <th title="Field Goals Made">FGM</th>
                <th title="Three Point Shots Made" class="digital-scout-hidden-sm">3PM</th>
                <th title="Free Throws Made">FTM</th>
                <th title="Offensive Rebounds" class="digital-scout-hidden-sm">OREB</th>
                <th title="Defensive Rebounds" class="digital-scout-hidden-sm">DREB</th>
                <th title="Total Rebounds">REB</th>
                <th title="Minutes Played" class="digital-scout-hidden-sm">MIN</th>
                <th title="Assists">AST</th>
                <th title="Steals" class="digital-scout-hidden-sm">STL</th>
                <th title="Blocks" class="digital-scout-hidden-sm">BLK</th>
                <th title="Personal Fouls" class="digital-scout-hidden-sm">PF</th>
                <th title="Points">PTS</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="playerStat in playerStats[homeTeamSeasonId]">
                <td class="digital-scout-player-stats-player-name">
                    <a ng-show="playerStat.PlayerId > 0" href="{{(players|getPlayerById:playerStat.PlayerId:playerStat.TeamSeasonId).PlayerSlug}}"
                        title="Go to this player's profile" target="_blank">
                        {{(players|getPlayerById:playerStat.PlayerId:playerStat.TeamSeasonId).DisplayName}}
                    </a>
                    <span ng-hide="playerStat.PlayerId > 0">
                        {{(players|getPlayerById:playerStat.PlayerId:playerStat.TeamSeasonId).DisplayName}}
                    </span>
                </td>
                <td>{{playerStat.ShotsMade}}</td>
                <td class="digital-scout-hidden-sm">{{playerStat.ThreePointShotsMade}}</td>
                <td>{{playerStat.FreeThrowsMade}}</td>
                <td class="digital-scout-hidden-sm">{{playerStat.OffensiveRebounds}}</td>
                <td class="digital-scout-hidden-sm">{{playerStat.DefensiveRebounds}}</td>
                <td>{{playerStat.TotalRebounds}}</td>
                <td class="digital-scout-hidden-sm">{{playerStat.MinutesPlayed*60 | timeOnClock}}</td>
                <td>{{playerStat.Assists}}</td>
                <td class="digital-scout-hidden-sm">{{playerStat.Steals}}</td>
                <td class="digital-scout-hidden-sm">{{playerStat.Blocks}}</td>
                <td class="digital-scout-hidden-sm">{{playerStat.PersonalFouls}}</td>
                <td>{{playerStat.TotalPoints}}</td>
            </tr>
        </tbody>
    </table>
</div>
