<div ng-show="statsAvailable" class="details nfhs-scout-team-stats">
  <table class="nfhs-scout-table">
    <thead>
      <tr>
        <th></th>
        <th><img ng-src="{{awayLogo}}" class="nfhs-scout-logo"/> {{awayName}}</th>
        <th><img ng-src="{{homeLogo}}" class="nfhs-scout-logo"/> {{homeName}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Points</td>
        <td>{{awayStats.TotalPoints}}</td>
        <td>{{homeStats.TotalPoints}}</td>
      </tr>
      <tr>
        <td>Field Goals Made-Attempted</td>
        <td>{{awayStats.ShotsMade}}-{{awayStats.ShotsAttempted}} {{awayStats.ShotsMade/awayStats.ShotsAttempted | percentage:0:'(':'%)' }}</td>
        <td>{{homeStats.ShotsMade}}-{{homeStats.ShotsAttempted}} {{homeStats.ShotsMade/homeStats.ShotsAttempted | percentage:0:'(':'%)' }}</td>
      </tr>
      <tr>
        <td>3 Point Field Goals Made-Attempted</td>
        <td>{{awayStats.ThreePointShotsMade}}-{{awayStats.ThreePointShotsAttempted}} {{awayStats.ThreePointShotsMade/awayStats.ThreePointShotsAttempted | percentage:0:'(':'%)' }}</td>
        <td>{{homeStats.ThreePointShotsMade}}-{{homeStats.ThreePointShotsAttempted}} {{homeStats.ThreePointShotsMade/homeStats.ThreePointShotsAttempted | percentage:0:'(':'%)' }}</td>
      </tr>
      <tr>
        <td>Free Throws Made-Attempted</td>
        <td>{{awayStats.FreeThrowsMade}}-{{awayStats.FreeThrowsAttempted}} {{awayStats.FreeThrowsMade/awayStats.FreeThrowsAttempted | percentage:0:'(':'%)' }}</td>
        <td>{{homeStats.FreeThrowsMade}}-{{homeStats.FreeThrowsAttempted}} {{homeStats.FreeThrowsMade/homeStats.FreeThrowsAttempted | percentage:0:'(':'%)' }}</td>
      </tr>
      <tr>
        <td>Rebounds (Offensive/Defensive)</td>
        <td>{{awayStats.TotalRebounds}} ({{awayStats.OffensiveRebounds}}/{{awayStats.DefensiveRebounds}})</td>
        <td>{{homeStats.TotalRebounds}} ({{homeStats.OffensiveRebounds}}/{{homeStats.DefensiveRebounds}})</td>
      </tr>
      <tr>
        <td>Assists</td>
        <td>{{awayStats.Assists}}</td>
        <td>{{homeStats.Assists}}</td>
      </tr>
      <tr>
        <td>Steals</td>
        <td>{{awayStats.Steals}}</td>
        <td>{{homeStats.Steals}}</td>
      </tr>
      <tr>
        <td>Blocks</td>
        <td>{{awayStats.Blocks}}</td>
        <td>{{homeStats.Blocks}}</td>
      </tr>
      <tr>
        <td>Turnovers</td>
        <td>{{awayStats.Turnovers}}</td>
        <td>{{homeStats.Turnovers}}</td>
      </tr>
      <tr>
        <td>Personal Fouls</td>
        <td>{{awayStats.PersonalFouls}}</td>
        <td>{{homeStats.PersonalFouls}}</td>
      </tr>
      <tr>
        <td>Charges Taken</td>
        <td>{{awayStats.ChargesTaken}}</td>
        <td>{{homeStats.ChargesTaken}}</td>
      </tr>
      <tr>
        <td>Deflections</td>
        <td>{{awayStats.Deflections}}</td>
        <td>{{homeStats.Deflections}}</td>
      </tr>
    </tbody>
  </table>
</div>