<div ng-show="statsAvailable" class="digital-scout-game-summary">
    <h3 class="digital-scout-heading">Game Summary</h3>
    <table class="digital-scout-table">
        <thead>
            <tr>
                <th></th>
                <th ng-attr-title="{{awayName}} {{awayMascot}}">{{awayAcronym}}</th>
                <th ng-attr-title="{{homeName}} {{homeMascot}}">{{homeAcronym}}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Points</td>
                <td>{{awayStats.TotalPoints}}</td>
                <td>{{homeStats.TotalPoints}}</td>
            </tr>
            <tr>
                <td title="Offensive Rebounds-Total Rebounds">Rebounds (Off/Tot)</td>
                <td>{{awayStats.OffensiveRebounds}}-{{awayStats.TotalRebounds}}</td>
                <td>{{homeStats.OffensiveRebounds}}-{{homeStats.TotalRebounds}}</td>
            </tr>
            <tr>
                <td>Assists</td>
                <td>{{awayStats.Assists}}</td>
                <td>{{homeStats.Assists}}</td>
            </tr>
            <tr>
                <td>Steals</td>
                <td>{{awayStats.Steals}}</td>
                <td>{{homeStats.Steals}}</td>
            </tr>
            <tr>
                <td>Blocks</td>
                <td>{{awayStats.Blocks}}</td>
                <td>{{homeStats.Blocks}}</td>
            </tr>
        </tbody>
    </table>
</div>
