<div ng-show="statsAvailable" class="details digital-scout-team-stats">
    <table class="digital-scout-table">
        <thead>
            <tr>
                <th></th>
                <th>
                    <img ng-src="{{awayLogo}}" ng-srcset="{{awayLogoHigh}} 2x" class="digital-scout-logo" /> {{awayAcronym}}</th>
                <th>
                    <img ng-src="{{homeLogo}}" ng-srcset="{{homeLogoHigh}} 2x" class="digital-scout-logo" /> {{homeAcronym}}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Number of Plays</td>
                <td>{{awayStats.TotalPlays}}</td>
                <td>{{homeStats.TotalPlays}}</td>
            </tr>
            <tr>
                <td>Total Offense</td>
                <td>{{awayStats.TotalYards}}</td>
                <td>{{homeStats.TotalYards}}</td>
            </tr>
            <tr>
                <td>Time of Possession</td>
                <td>{{awayStats.TimeOfPossession.replace(timeOfPossessionRegex, '')}}</td>
                <td>{{homeStats.TimeOfPossession.replace(timeOfPossessionRegex, '')}}</td>
            </tr>
            <tr>
                <td>Rushing Attempts - Yards</td>
                <td>{{awayStats.RushingAttempts}} - {{awayStats.RushingYards}}</td>
                <td>{{homeStats.RushingAttempts}} - {{homeStats.RushingYards}}</td>
            </tr>
            <tr>
                <td>Passing: Completions - Attempts</td>
                <td>{{awayStats.PassingCompletions}} - {{awayStats.PassingAttempts}}</td>
                <td>{{homeStats.PassingCompletions}} - {{homeStats.PassingAttempts}}</td>
            </tr>
            <tr>
                <td>Passing Yards</td>
                <td>{{awayStats.PassingYards}}</td>
                <td>{{homeStats.PassingYards}}</td>
            </tr>
            <tr>
                <td>Passing: Touchdowns - Interceptions</td>
                <td>{{awayStats.PassingTouchdowns}} - {{awayStats.Interceptions}}</td>
                <td>{{homeStats.PassingTouchdowns}} - {{homeStats.Interceptions}}</td>
            </tr>
            <tr>
                <td>Fumbles - Lost</td>
                <td>{{awayStats.Fumbles}} - {{awayStats.FumblesLost}}</td>
                <td>{{homeStats.Fumbles}} - {{homeStats.FumblesLost}}</td>
            </tr>
            <tr>
                <td>Turnovers</td>
                <td>{{awayStats.Turnovers}}</td>
                <td>{{homeStats.Turnovers}}</td>
            </tr>
            <tr>
                <td>First Downs</td>
                <td>{{awayStats.FirstDowns}}</td>
                <td>{{homeStats.FirstDowns}}</td>
            </tr>
            <tr>
                <td>First Downs - Rushing</td>
                <td>{{awayStats.FirstDownsRushing}}</td>
                <td>{{homeStats.FirstDownsRushing}}</td>
            </tr>
            <tr>
                <td>First Downs - Passing</td>
                <td>{{awayStats.FirstDownsPassing}}</td>
                <td>{{homeStats.FirstDownsPassing}}</td>
            </tr>
            <tr>
                <td>First Downs - Penalties</td>
                <td>{{awayStats.FirstDownsPenalty}}</td>
                <td>{{homeStats.FirstDownsPenalty}}</td>
            </tr>
            <tr>
                <td>Third Down Conversions/Attempts</td>
                <td>
                    <span ng-show="awayStats.ThirdDownAttempts > 0">
                        {{awayStats.ThirdDownConversions}}/{{awayStats.ThirdDownAttempts}} ({{awayStats.ThirdDownConversionPercentage | decimals:1}}%)
                    </span>
                </td>
                <td>
                    <span ng-show="homeStats.ThirdDownAttempts > 0">
                        {{homeStats.ThirdDownConversions}}/{{homeStats.ThirdDownAttempts}} ({{homeStats.ThirdDownConversionPercentage | decimals:1}}%)
                    </span>
                </td>
            </tr>
            <tr>
                <td>Fourth Down Conversions/Attempts</td>
                <td>
                    <span ng-show="awayStats.FourthDownAttempts > 0">
                        {{awayStats.FourthDownConversions}}/{{awayStats.FourthDownAttempts}} ({{awayStats.FourthDownConversionPercentage | decimals:1}}%)
                    </span>
                </td>
                <td>
                    <span ng-show="homeStats.FourthDownAttempts > 0">
                        {{homeStats.FourthDownConversions}}/{{homeStats.FourthDownAttempts}} ({{homeStats.FourthDownConversionPercentage | decimals:1}}%)
                    </span>
                </td>
            </tr>
            <tr>
                <td>Penalties - Yards</td>
                <td>{{awayStats.Penalties}} - {{awayStats.PenaltyYards}}</td>
                <td>{{homeStats.Penalties}} - {{homeStats.PenaltyYards}}</td>
            </tr>
            <tr>
                <td>Defensive Sacks - Yards</td>
                <td>{{awayStats.DefensiveSacks}} - {{awayStats.DefensiveSackYardage}}</td>
                <td>{{homeStats.DefensiveSacks}} - {{homeStats.DefensiveSackYardage}}</td>
            </tr>
            <tr>
                <td>Punts - Average</td>
                <td>{{awayStats.PuntingAttempts}} - {{awayStats.PuntingAverageYards | decimals:1}}</td>
                <td>{{homeStats.PuntingAttempts}} - {{homeStats.PuntingAverageYards | decimals:1}}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr class="digital-scout-player-stats-as-reported-by-row">
                <td class="digital-scout-player-stats-as-reported-by">As reported by:</td>
                <td class="digital-scout-player-stats-as-reported-by">
                    <span ng-repeat="reporter in awayAsReportedBy">
                        {{reporter}}{{$last ? '' : ', '}}
                    </span>
                </td>
                <td class="digital-scout-player-stats-as-reported-by">
                    <span ng-repeat="reporter in homeAsReportedBy">
                        {{reporter}}{{$last ? '' : ', '}}
                    </span>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
