<div ng-show="playByPlayAvailable" class="nfhs-scout-drivechart">
  <canvas resize></canvas>
  <table>
    <tr>
      <td>
        Down: {{downEmbelish(lastPlay.Down)}} and {{lastPlay.Distance}}
      </td>
      <td>
        Ball on {{getSpot(lastPlay)}}
      </td>
      <td>
        Posession: {{lastPlay.TeamName}}
      </td>
    </tr>
  </table>
  <div ng-if="hasPreviousPlay">
    Previous Play: {{downEmbelish(previousPlay.Down)}} and {{previousPlay.Distance}} at {{getSpot(previousPlay)}}, {{previousPlay.Description}}
  </div>
</div>