<div datacast="{{unityGameKey}}" publisher="{{publisherKey}}" sport="{{sport}}" include-leaders include-play-by-play include-player-stats include-team-stats include-players>
  <div scoreboard></div>
  <div ng-show="paymentRequired" redirect>
  </div>

  <div ng-show="sport == 'Football'">
    <div game-leaders></div>

    <div ng-init="selectedDetailTab=1" class="nfhs-scout-tabbed-details" ng-show="statsAvailable || playByPlayAvailable">
      <ul class="nfhs-scout-tabs">
        <li ng-class='{"active": selectedDetailTab == 1 }' ng-click="selectedDetailTab = 1" ng-show="statsAvailable">
          <a href ng-click="selectedDetailTab = 1">
            Team  <span class="nfhs-scout-hidden-sm">Stats</span>
          </a>
        </li>
        <li ng-class='{"active": selectedDetailTab == 2 }' ng-click="selectedDetailTab = 2" ng-show="playByPlayAvailable">
          <a href ng-click="selectedDetailTab = 2">
            Scoring <span class="nfhs-scout-hidden-sm">Summary</span>
          </a>
        </li>
        <li ng-class='{"active": selectedDetailTab == 3 }' ng-click="selectedDetailTab = 3" ng-show="playByPlayAvailable">
          <a href ng-click="selectedDetailTab = 3">
            <span class="nfhs-scout-hidden-sm">Play by Play</span>
            <span class="nfhs-scout-visible-sm">Plays</span>
          </a>
        </li>
        <li ng-class='{"active": selectedDetailTab == 4 }' ng-click="selectedDetailTab = 4" ng-show="(players[homeTeamSeasonId] | rosterPlayersToDisplay).length + (players[awayTeamSeasonId] | rosterPlayersToDisplay).length > 0">
          <a href ng-click="selectedDetailTab = 4">
            Rosters
          </a>
        </li>
      </ul>
      <div class="nfhs-scout-tab-container">
        <div team-stats ng-show="selectedDetailTab == 1"></div>
        <div scoring-summary ng-show="selectedDetailTab == 2"></div>
        <div play-by-play ng-show="selectedDetailTab == 3"></div>
        <div rosters ng-show="selectedDetailTab == 4"></div>
      </div>
    </div>

    <div ng-init="selectedPlayerTeam=1" class="nfhs-scout-playerstats" ng-show="statsAvailable">
        <ul class="nfhs-scout-tabs">
          <li ng-class='{"active": selectedPlayerTeam == 1 }'  ng-click="selectedPlayerTeam = 1"><a href ng-click="selectedPlayerTeam = 1"><img ng-src="{{awayLogo}}" class="nfhs-scout-logo">{{awayName}}</a></li>
          <li ng-class='{"active": selectedPlayerTeam == 2 }'  ng-click="selectedPlayerTeam = 2"><a href ng-click="selectedPlayerTeam = 2"><img ng-src="{{homeLogo}}" class="nfhs-scout-logo">{{homeName}}</a></li>
        </ul>
        <div class="nfhs-scout-tab-container">
          <div player-stats team-id="{{awayTeamSeasonId}}" ng-show="selectedPlayerTeam == 1"></div>
          <div player-stats team-id="{{homeTeamSeasonId}}"  ng-show="selectedPlayerTeam == 2"></div>
        </div>
    </div>
  </div>

  <div ng-show="sport =='Basketball'">
    <div basketball-game-leaders></div>

    <div ng-init="selectedDetailTab=1" class="nfhs-scout-tabbed-details" ng-show="statsAvailable || playByPlayAvailable">
      <ul class="nfhs-scout-tabs">
        <li ng-class='{"active": selectedDetailTab == 1 }' ng-click="selectedDetailTab = 1" ng-show="statsAvailable">
          <a href ng-click="selectedDetailTab = 1">Team <span class="nfhs-scout-hidden-sm">Stats</span></a>
        </li>
        <li ng-class='{"active": selectedDetailTab == 2 }' ng-click="selectedDetailTab = 2" ng-show="statsAvailable">
          <a href ng-click="selectedDetailTab = 2">Player <span class="nfhs-scout-hidden-sm">Stats</span></a>
        </li>
        <li ng-class='{"active": selectedDetailTab == 3 }' ng-click="selectedDetailTab = 3" ng-show="playByPlayAvailable">
          <a href ng-click="selectedDetailTab = 3">
            <span class="nfhs-scout-hidden-sm">Play by Play</span>
            <span class="nfhs-scout-visible-sm">Plays</span>
          </a>
        </li>
        <li ng-class='{"active": selectedDetailTab == 4 }' ng-click="selectedDetailTab = 4" ng-show="playByPlayAvailable">
          <a href ng-click="selectedDetailTab = 4">
            <span class="nfhs-scout-hidden-sm">Shot Chart</span>
            <span class="nfhs-scout-visible-sm">Shots</span>
          </a>
        </li>
      </ul>
      <div class="nfhs-scout-tab-container">
        <div basketball-team-stats ng-show="selectedDetailTab == 1"></div>
        <div basketball-player-stats ng-show="selectedDetailTab == 2"></div>
        <div basketball-play-by-play ng-show="selectedDetailTab == 3"></div>
        <div basketball-shot-chart ng-show="selectedDetailTab == 4"></div>
      </div>
    </div>
  </div>
</div>