<div ng-show="leadersAvailable" class="nfhs-scout-game-leaders ds-widget-leaders">
    <h4>Game Leaders</h4>
    <table>
      <thead>
        <tr>
          <th></th>
          <th>Pass</th>
          <th>Rush</th>
          <th>Rec</th>
        </tr>
      </thead>
      <tbody>
        <tr class="odd">
          <td><img ng-src="{{homeLogo}}" alt="" class="ds-widget-logo" /> {{homeName}}</td>
          <td>{{leaders.homePassingLeader}}</td>
          <td>{{leaders.homeRushingLeader}}</td>
          <td>{{leaders.homeReceivingLeader}}</td>
        </tr>
        <tr class="even">
          <td><img ng-src="{{awayLogo}}" alt="" class="ds-widget-logo" /> {{awayName}}</td>
          <td>{{leaders.awayPassingLeader}}</td>
          <td>{{leaders.awayRushingLeader}}</td>
          <td>{{leaders.awayReceivingLeader}}</td>
        </tr>
      </tbody>
    </table>
</div>
