<div>
    <h4>Game Leaders</h4>
    <table>
      <thead>
        <tr>
          <th></th>
          <th>Pass</th>
          <th>Rush</th>
          <th>Rec</th>
        </tr>
      </thead>
      <tbody>
        <tr class="odd">
          <td><img src="{{homeLogo}}" alt="" style="vertical-align:middle" /> {{homeName}}</td>
          <td>{{homePassingLeader}}</td>
          <td>{{homeRushingLeader}}</td>
          <td>{{homeReceivingLeader}}</td>
        </tr>
        <tr class="even">
          <td><img src="{{awayLogo}}" alt="" style="vertical-align:middle" /> {{awayName}}</td>
          <td>{{awayPassingLeader}}</td>
          <td>{{awayRushingLeader}}</td>
          <td>{{awayReceivingLeader}}</td>
        </tr>
      </tbody>
    </table>
</div>
