<div ng-show="statsAvailable" class="nfhs-scout-player-stats">
  <div ng-show="playerStats.passingStats.length + playerStats.rushingStats.length + playerStats.receivingStats.length +
    playerStats.defensiveStats.length + playerStats.kickingStats.length + playerStats.puntingStats.length + 
    playerStats.puntReturnStats.length + playerStats.kickReturnStats.length === 0">
    No player stats available.
  </div>
  
  <div ng-show="playerStats.passingStats.length > 0">
    <h4 class="nfhs-scout-heading">Passing Stats</h4>
    <table class="nfhs-scout-table">
      <thead>
        <tr>
          <th></th>
          <th>Cmp</th>
          <th>Att</th>
          <th>Yds</th>
          <th>Cmp%</th>
          <th>TD</th>
          <th>Int</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="passer in playerStats.passingStats">
          <td class="nfhs-scout-player-stats-player-name">
            <a href="{{(players|getPlayerById:passer.PlayerId:teamId).PlayerSlug}}" title="Go to this player's profile" target="_blank">
              {{(players|getPlayerById:passer.PlayerId:teamId).DisplayName}}
            </a>
          </td>
          <td>{{passer.Completions}}</td>
          <td>{{passer.Attempts}}</td>
          <td>{{passer.Yards}}</td>
          <td>{{passer.CompletionPercentage | decimals:1}}%</td>
          <td>{{passer.Touchdowns}}</td>
          <td>{{passer.Interceptions}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div ng-show="playerStats.rushingStats.length > 0">
    <h4 class="nfhs-scout-heading">Rushing Stats</h4>
    <table class="nfhs-scout-table">
      <thead>
        <tr>
          <th></th>
          <th>Att</th>
          <th>Yds</th>
          <th>Avg</th>
          <th>TD</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="player in playerStats.rushingStats">
          <td class="nfhs-scout-player-stats-player-name">
            <a href="{{(players|getPlayerById:passer.PlayerId:teamId).PlayerSlug}}" title="Go to this player's profile" target="_blank">
              {{(players|getPlayerById:player.PlayerId:teamId).DisplayName}}
            </a>
          </td>
          <td>{{player.Attempts}}</td>
          <td>{{player.Yards}}</td>
          <td>{{player.Average |  decimals:1}}</td>
          <td>{{player.Touchdowns}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div ng-show="playerStats.receivingStats.length > 0">
    <h4 class="nfhs-scout-heading">Receiving Stats</h4>
    <table class="nfhs-scout-table">
      <thead>
        <tr>
          <th></th>
          <th>Rec</th>
          <th>Yds</th>
          <th>Avg</th>
          <th>TD</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="player in playerStats.receivingStats">
          <td class="nfhs-scout-player-stats-player-name">
            <a href="{{(players|getPlayerById:passer.PlayerId:teamId).PlayerSlug}}" title="Go to this player's profile" target="_blank">
              {{(players|getPlayerById:player.PlayerId:teamId).DisplayName}}
            </a>
          </td>
          <td>{{player.Receptions}}</td>
          <td>{{player.Yards}}</td>
          <td>{{player.Average |  decimals:1}}</td>
          <td>{{player.Touchdowns }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div ng-show="playerStats.defensiveStats.length > 0">
    <h4 class="nfhs-scout-heading">Defensive Stats</h4>
    <table class="nfhs-scout-table">
      <thead>
        <tr>
          <th></th>
          <th>Tkl</th>
          <th>Solo</th>
          <th>Ast</th>
          <th>Sac</th>
          <th>TFL</th>
          <th>Int</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="player in playerStats.defensiveStats">
          <td class="nfhs-scout-player-stats-player-name">
            <a href="{{(players|getPlayerById:passer.PlayerId:teamId).PlayerSlug}}" title="Go to this player's profile" target="_blank">
              {{(players|getPlayerById:player.PlayerId:teamId).DisplayName}}
            </a>
          </td>
          <td>{{player.Tackles}}</td>
          <td>{{player.Solos}}</td>
          <td>{{player.Assists}}</td>
          <td>{{player.Sacks}}</td>
          <td>{{player.TacklesForLoss}}</td>
          <td>{{player.Interceptions}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div ng-show="playerStats.kickingStats.length > 0">
    <h4 class="nfhs-scout-heading">Kicking Stats</h4>
    <table class="nfhs-scout-table">
      <thead>
        <tr>
          <th></th>
          <th>FG</th>
          <th>FGA</th>
          <th>XP</th>
          <th>Pts</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="player in playerStats.kickingStats">
          <td class="nfhs-scout-player-stats-player-name">
            <a href="{{(players|getPlayerById:passer.PlayerId:teamId).PlayerSlug}}" title="Go to this player's profile" target="_blank">
              {{(players|getPlayerById:player.PlayerId:teamId).DisplayName}}
            </a>
          </td>
          <td>{{player.FieldGoals}}</td>
          <td>{{player.FieldGoalAttempts}}</td>
          <td>{{player.ExtraPoints}}</td>
          <td>{{player.Points}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div ng-show="playerStats.puntingStats.length > 0">
    <h4 class="nfhs-scout-heading">Punting Stats</h4>
    <table class="nfhs-scout-table">
      <thead>
        <tr>
          <th></th>
          <th>Att</th>
          <th>Yds</th>
          <th>Avg</th>
          <th>I20</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="player in playerStats.puntingStats">
          <td class="nfhs-scout-player-stats-player-name">
            <a href="{{(players|getPlayerById:passer.PlayerId:teamId).PlayerSlug}}" title="Go to this player's profile" target="_blank">
              {{(players|getPlayerById:player.PlayerId:teamId).DisplayName}}
            </a>
          </td>
          <td>{{player.Attempts}}</td>
          <td>{{player.Yards}}</td>
          <td>{{player.Average |  decimals:1}}</td>
          <td>{{player.Inside20}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div ng-show="playerStats.puntReturnStats.length > 0">
    <h4 class="nfhs-scout-heading">Punt Return Stats</h4>
    <table class="nfhs-scout-table">
      <thead>
        <tr>
          <th></th>
          <th>Att</th>
          <th>Yds</th>
          <th>Avg</th>
          <th>TD</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="player in playerStats.puntReturnStats">
          <td class="nfhs-scout-player-stats-player-name">
            <a href="{{(players|getPlayerById:passer.PlayerId:teamId).PlayerSlug}}" title="Go to this player's profile" target="_blank">
              {{(players|getPlayerById:player.PlayerId:teamId).DisplayName}}
            </a>
          </td>
          <td>{{player.Attempts}}</td>
          <td>{{player.Yards}}</td>
          <td>{{player.Average|  decimals:1}}</td>
          <td>{{player.Touchdowns}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div ng-show="playerStats.kickReturnStats.length > 0">
    <h4 class="nfhs-scout-heading">Kick Return Stats</h4>
    <table class="nfhs-scout-table">
      <thead>
        <tr>
          <th></th>
          <th>Att</th>
          <th>Yds</th>
          <th>Avg</th>
          <th>TD</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="player in playerStats.kickReturnStats">
          <td class="nfhs-scout-player-stats-player-name">
            <a href="{{(players|getPlayerById:passer.PlayerId:teamId).PlayerSlug}}" title="Go to this player's profile" target="_blank">
              {{(players|getPlayerById:player.PlayerId:teamId).DisplayName}}
            </a>
          </td>
          <td>{{player.Attempts}}</td>
          <td>{{player.Yards}}</td>
          <td>{{player.Average|  decimals:1}}</td>
          <td>{{player.Touchdowns}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
