<div ng-show="playByPlayAvailable" class="nfhs-scout-play-by-play">
  <h4>Play by Play</h4>
  <button class="nfhs-scout-period-selector" ng-class='{"active": selectedPeriod == 1 }' ng-click="selectedPeriod = 1" ng-show="currentPeriod >= 1">Q1</button>
  <button class="nfhs-scout-period-selector" ng-class='{"active": selectedPeriod == 2 }'  ng-click="selectedPeriod = 2" ng-show="currentPeriod >= 2">Q2</button>
  <button class="nfhs-scout-period-selector" ng-class='{"active": selectedPeriod == 3 }'  ng-click="selectedPeriod = 3" ng-show="currentPeriod >= 3">Q3</button>
  <button class="nfhs-scout-period-selector" ng-class='{"active": selectedPeriod == 4 }'  ng-click="selectedPeriod = 4" ng-show="currentPeriod >= 4">Q4</button>
  <table>
    <thead>
      <tr>
        <th>Team</th>
        <th>Qtr</th>
        <th>Time</th>
        <th>Play</th>
        <th>A</th>
        <th>H</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="play in playByPlay | filter:{Quarter: selectedPeriod}">
        <td>{{play.TeamName}}</td>
        <td>{{play.Quarter}}</td>
        <td>{{play.TimeOnClock | timeOnClock }}</td>
        <td>
          {{play.Description}}
        </td>
        <td>{{play.AwayScore}}</td>
        <td>{{play.HomeScore}}</td>
      </tr>
    </tbody>
  </table>
</div>
