<div ng-show="playByPlayAvailable" class="nfhs-scout-play-by-play">
  <div class="nfhs-scout-period-selector">
    <ul class="nfhs-scout-hidden-sm">
      <li class="nfhs-scout-selector-label">Quarter:</li>
      <li ng-repeat="period in playByPlayPeriods" ng-class="{'nfhs-scout-active': selectedPeriod == period.value}">
        <a href ng-click="$parent.selectedPeriod = period.value">{{period.display}}</a>
      </li>
    </ul>
    <div class="nfhs-scout-visible-sm">
      <label for="nfhs-scout-period-selector">Quarter</label>
      <select name="nfhs-scout-period-selector" ng-options="period.value as period.display for period in playByPlayPeriods" ng-model="selectedPeriod" required></select>
    </div>
  </div>

  <div class="nfhs-scout-play-by-play-plays">
    <div ng-repeat="drive in selectedPeriodPlays" class="nfhs-scout-play-by-play-drive">
      <table class="nfhs-scout-table">
        <thead>
          <tr>
            <th colspan="3">
              <img ng-src="{{getLogo(drive[0])}}" class="nfhs-scout-logo"/>
              {{drive[0].TeamName}} at {{drive[0].TimeOnClock | timeOnClock }}
            </th>
            <!--th>Time</th>
            <th>Play</th-->
            <th class="nfhs-scout-play-by-play-score nfhs-scout-hidden-sm">{{awayAcronym}}</th>
            <th class="nfhs-scout-play-by-play-score nfhs-scout-hidden-sm">{{homeAcronym}}</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="play in drive">
            <td ng-class='{"nfhs-scout-scoring": play.IsScoring }' class="nfhs-scout-play-by-play-spot nfhs-scout-hidden-sm">{{play.Down}} and {{play.Distance}} at {{getSpot(play)}}</td>
            <td ng-class='{"nfhs-scout-scoring": play.IsScoring }'>{{play.TimeOnClock | timeOnClock }}</td>
            <td ng-class='{"nfhs-scout-scoring": play.IsScoring }' class="nfhs-scout-play-by-play-description">
              <span ng-class='{"playLinkDescription": play.Highlight}'>{{play.Description}}</span>
              <a ng-if="play.Highlight" class="playLink" href='{{play.Highlight.NfhsLinkToHighlight}}' target="_blank"><i></i></a>
            </td>
            <td ng-class='{"nfhs-scout-scoring": play.IsScoring }' class="nfhs-scout-play-by-play-score nfhs-scout-hidden-sm">{{play.AwayScore}}</td>
            <td ng-class='{"nfhs-scout-scoring": play.IsScoring }' class="nfhs-scout-play-by-play-score nfhs-scout-hidden-sm">{{play.HomeScore}}</td>
            <td ng-class='{"nfhs-scout-scoring": play.IsScoring }'><a ng-if="play.Highlight" href='{{play.Highlight.NfhsLinkToHighlight}}' target="_blank"><i class="playIcon"></i></a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
