<div style="height: 160px; width:100%; padding-top: 10px; margin: 0 auto;">
    <div style="background: #13395b; height: 120px; margin: 0 auto;">
        <div style="color: #fff; font-size: 2em; line-height: 2.25em; font-weight: bold; padding: 30px; text-align: center;">A subscription is required to follow this game live.</div>
        <div style="position: absolute; top: 100px; text-align: center; width: 100%;">
            <a href="{{gameDetailLink}}">
                <!--
                <img src="https://stats.digitalscout.com/img/Coming-Soon.png" style="border: 1px solid #fff;height:233px;" />
                -->
            </a>
        </div>
    </div>
</div>
