<div style="background-image: url(http://www.hsgamecenter.com/img/games/nfhs/BG_Image_Fans.png); height: 22em; width:100%; padding-top:68px; margin: 0 auto;">
    <div style="background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAuYAAAFyAQMAAACDSI3YAAAABlBMVEUTOVv///+Qpr28AAAAaElEQVR4XuzAAQ0AAADCIPuntscH6wEAAAAAAAAAAAAAAAAAAAAAAAAAAAAA3s4clAAAgEAAs3/mA00h3GMLsH2U/t1ut9vtdrvdbrfb7Xa73W632+12u91ut9vtdrvdbrfb7Xa73W4/xiO0N5m+WcsAAAAASUVORK5CYII=') /*/img/games/nfhs/BG_Image_BlueWhite.png*/; height: 252px; width: 90%; margin: 0 auto;position: relative">
        <div style="color: #fff; font-size: 50px; line-height:50px; font-weight: bold; padding: 40px; text-align: center">Follow this game LIVE on the NFHS Network</div>
        <div style="position: absolute; top:223px; text-align: center; width: 100%; ">
            <a href="{{gameDetailLink}}">
                <img src="http://www.hsgamecenter.com/img/games/nfhs/Button.png" style="border: 1px solid #fff;" />
            </a>
        </div>
    </div>
</div>