<div ng-show="(players[homeTeamSeasonId] | rosterPlayersToDisplay).length + (players[awayTeamSeasonId] | rosterPlayersToDisplay).length > 0">
  <div class="left">
    <h4>{{homeName}}</h4>
    <table>
      <tr ng-repeat="player in players[homeTeamSeasonId] | rosterPlayersToDisplay">
        <td>{{player.DisplayName}}</td>
      </tr>
    </table>
  </div>
  <div class="right">
    <h4>{{awayName}}</h4>
    <table>
      <tr ng-repeat="player in players[awayTeamSeasonId] | rosterPlayersToDisplay">
        <td>{{player.DisplayName}}</td>
      </tr>
    </table>
  </div>
</div>
