<div ng-show="scoresAvailable" class="nfhs-scout-scoreboard ds-widget-scoreboard">
  <div attribution class="nfhs-scout-attribution"></div>
  <h4>
    Scoreboard
  </h4>
  <table>
    <thead>
      <tr>
        <th>
          <span class="ds-widget-game-status" ng-show="showStatus">{{statusDisplay}}</span>
        </th>
        <th>1</th>
        <th>2</th>
        <th>3</th>
        <th>4</th>
         <td ng-show="inOverTime">
          OT
        </td>
        <th class="final">F</th>
      </tr>
    </thead>
    <tbody>
      <tr class="odd">
        <td><img ng-src="{{awayLogo}}" class="ds-widget-logo" /> {{awayName}}</td>
        <td>{{awayPeriodScores[0].Score}}</td>
        <td>
          <span ng-show="currentPeriod >= 2">{{awayPeriodScores[1].Score}}</span>
        </td>
        <td>
          <span ng-show="currentPeriod >= 3">{{awayPeriodScores[2].Score}}</span>
        </td>
        <td>
          <span ng-show="currentPeriod >= 4">{{awayPeriodScores[3].Score}}</span>
        </td>
        <td ng-show="inOverTime">
          <span>{{awayOvertimeScore}}</span>
        </td>
        <td class="final">{{awayScore}}</td>
      </tr>
      <tr class="even">
        <td><img ng-src="{{homeLogo}}" class="ds-widget-logo" /> {{homeName}}</td>
        <td>{{homePeriodScores[0].Score}}</td>
        <td>
          <span ng-show="currentPeriod >= 2">{{homePeriodScores[1].Score}}</span>
        </td>
        <td>
          <span ng-show="currentPeriod >= 3">{{homePeriodScores[2].Score}}</span>
        </td>
        <td>
          <span ng-show="currentPeriod >= 4">{{homePeriodScores[3].Score}}</span>
        </td>
        <td ng-show="inOverTime">
          <span>{{homeOvertimeScore}}</span>
        </td>
        <td class="final">{{homeScore}}</td>
      </tr>
    </tbody>
    <tfoot ng-show="compressDisplay">
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    </tfoot>
  </table>
</div>
