<div ng-show="scoresAvailable" class="nfhs-scout-scoreboard">
  <div attribution class="nfhs-scout-attribution"></div>
  <span class="nfhs-scout-game-status" ng-show="showStatus">{{statusDisplay}}</span>
  <h4 class="nfhs-scout-heading">
    Scoreboard
  </h4>
  <table class="nfhs-scout-table">
    <thead>
      <tr>
        <th></th>
        <th ng-show="!finalScoresInFirstPeriod">1</th>
        <th ng-show="!finalScoresInFirstPeriod">2</th>
        <th ng-show="!finalScoresInFirstPeriod && regulationPeriodCount >= 3">3</th>
        <th ng-show="!finalScoresInFirstPeriod && (regulationPeriodCount >= 4 || (!inOverTime && currentPeriod >= 4))">4</th>
        <th ng-show="!finalScoresInFirstPeriod && !inOverTime && currentPeriod >= 5">5</th>
        <th ng-show="!finalScoresInFirstPeriod && inOverTime">OT</th>
        <th class="nfhs-scout-final">F</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td ng-class="{'nfhs-scout-winner': isWinner(awayTeamKey)}">
          <span ng-show="!showTeamLinks">
            <img ng-src="{{awayLogo}}" class="nfhs-scout-logo" />{{awayShortName}}
          </span>
          <a ng-show="showTeamLinks" href="{{awaySlug}}">
            <img ng-src="{{awayLogo}}" class="nfhs-scout-logo" />{{awayShortName}}
          </a>
        </td>
        <td ng-show="!finalScoresInFirstPeriod">{{awayPeriodScores[0].Score}}</td>
        <td ng-show="!finalScoresInFirstPeriod">
          <span ng-show="currentPeriod >= 2">{{awayPeriodScores[1].Score}}</span>
        </td>
        <td ng-show="!finalScoresInFirstPeriod && regulationPeriodCount >= 3">
          <span ng-show="currentPeriod >= 3">{{awayPeriodScores[2].Score}}</span>
        </td>
        <td ng-show="!finalScoresInFirstPeriod && (regulationPeriodCount >= 4 || (!inOverTime && currentPeriod >= 4))">
          <span ng-show="currentPeriod >= 4">{{awayPeriodScores[3].Score}}</span>
        </td>
        <td ng-show="!finalScoresInFirstPeriod && !inOverTime && currentPeriod >= 5">
          <span ng-show="currentPeriod >= 5">{{awayPeriodScores[4].Score}}</span>
        </td>
        <td ng-show="!finalScoresInFirstPeriod && inOverTime">
          <span>{{awayOvertimeScore}}</span>
        </td>
        <td class="nfhs-scout-final">{{awayScore}}</td>
      </tr>
      <tr>
        <td ng-class="{'nfhs-scout-winner': isWinner(homeTeamKey)}">
          <span ng-show="!showTeamLinks">
            <img ng-src="{{homeLogo}}" class="nfhs-scout-logo" />{{homeShortName}}
          </span>
          <a ng-show="showTeamLinks" href="{{homeSlug}}">
            <img ng-src="{{homeLogo}}" class="nfhs-scout-logo" />{{homeShortName}}
          </a>
        </td>
        <td ng-show="!finalScoresInFirstPeriod">{{homePeriodScores[0].Score}}</td>
        <td ng-show="!finalScoresInFirstPeriod">
          <span ng-show="currentPeriod >= 2">{{homePeriodScores[1].Score}}</span>
        </td>
        <td ng-show="!finalScoresInFirstPeriod && regulationPeriodCount >= 3">
          <span ng-show="currentPeriod >= 3">{{homePeriodScores[2].Score}}</span>
        </td>
        <td ng-show="!finalScoresInFirstPeriod && (regulationPeriodCount >= 4 || (!inOverTime && currentPeriod >= 4))">
          <span ng-show="currentPeriod >= 4">{{homePeriodScores[3].Score}}</span>
        </td>
        <td ng-show="!finalScoresInFirstPeriod && !inOverTime && currentPeriod >= 5">
          <span ng-show="currentPeriod >= 5">{{homePeriodScores[4].Score}}</span>
        </td>
        <td ng-show="!finalScoresInFirstPeriod && inOverTime">
          <span>{{homeOvertimeScore}}</span>
        </td>
        <td class="nfhs-scout-final">{{homeScore}}</td>
      </tr>
    </tbody>
  </table>
</div>
