<div ng-show="playByPlayAvailable" class="nfhs-scout-scoring-summary">
  <table>
    <thead>
      <tr>
        <th>Team</th>
        <th>Qtr</th>
        <th>Time</th>
        <th>Play</th>
        <th>{{awayAcronym}}</th>
        <th>{{homeAcronym}}</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="play in scoringPlays">
        <td class="nfhs-scout-team-name">{{play.TeamName}}</td>
        <td>{{play.Quarter}}</td>
        <td>{{play.TimeOnClock | timeOnClock }}</td>
        <td class="nfhs-scout-play-summary">{{play.Description}}</td>
        <td>{{play.AwayScore}}</td>
        <td>{{play.HomeScore}}</td>
      </tr>
    </tbody>
  </table>
</div>
