<div ng-show="statsAvailable" class="details">
  <h4>Team Stat Comparison</h4>
  <table>
    <thead>
      <tr>
        <th></th>
        <th><img src="{{homeLogo}}" alt="" style="vertical-align:middle" /> {{homeName}}</th>
        <th><img src="{{awayLogo}}" alt="" style="vertical-align:middle" /> {{awayName}}</th>
      </tr>
    </thead>
    <tbody>
      <tr class="odd">
        <td>Number of Plays</td>
        <td>{{homeStats.TotalPlays}}</td>
        <td>{{awayStats.TotalPlays}}</td>
      </tr>
      <tr class="even">
        <td>Total Offense</td>
        <td>{{homeStats.TotalYards}}</td>
        <td>{{awayStats.TotalYards}}</td>
      </tr>
      <tr class="odd">
        <td>Time of Possession</td>
        <td>{{homeStats.TimeOfPossession}}</td>
        <td>{{awayStats.TimeOfPossession}}</td>
      </tr>
      <tr class="even">
        <td>Rushing Attempts - Yards</td>
        <td>{{homeStats.RushingAttempts}} - {{homeStats.RushingYards}}</td>
        <td>{{awayStats.RushingAttempts}} - {{awayStats.RushingYards}}</td>
      </tr>
      <tr class="odd">
        <td>Passing: Completions - Attempts</td>
        <td>{{homeStats.PassingCompletions}} - {{homeStats.PassingAttempts}}</td>
        <td>{{awayStats.PassingCompletions}} - {{awayStats.PassingAttempts}}</td>
      </tr>
      <tr class="even">
        <td>Passing Yards</td>
        <td>{{homeStats.PassingYards}}</td>
        <td>{{awayStats.PassingYards}}</td>
      </tr>
      <tr class="odd">
        <td>Passing: Touchdowns - Interceptions</td>
        <td>{{homeStats.PassingTouchdowns}} - {{homeStats.Interceptions}}</td>
        <td>{{awayStats.PassingTouchdowns}} - {{awayStats.Interceptions}}</td>
      </tr>
      <tr class="even">
        <td>Fumbles - Lost</td>
        <td>{{homeStats.Fumbles}} - {{homeStats.FumblesLost}}</td>
        <td>{{awayStats.Fumbles}} - {{awayStats.FumblesLost}}</td>
      </tr>
      <tr class="odd">
        <td>Turnovers</td>
        <td>{{homeStats.Turnovers}}</td>
        <td>{{awayStats.Turnovers}}</td>
      </tr>
      <tr class="even">
        <td>First Downs</td>
        <td>{{homeStats.FirstDowns}}</td>
        <td>{{awayStats.FirstDowns}}</td>
      </tr>
      <tr class="odd">
        <td>First Downs - Rushing</td>
        <td>{{homeStats.FirstDownsRushing}}</td>
        <td>{{awayStats.FirstDownsRushing}}</td>
      </tr>
      <tr class="even">
        <td>First Downs - Passing</td>
        <td>{{homeStats.FirstDownsPassing}}</td>
        <td>{{awayStats.FirstDownsPassing}}</td>
      </tr>
      <tr class="odd">
        <td>First Downs - Penalties</td>
        <td>{{homeStats.FirstDownsPenalty}}</td>
        <td>{{awayStats.FirstDownsPenalty}}</td>
      </tr>
      <tr class="even">
        <td>Third Down Conversions/Attempts</td>
        <td>{{homeStats.ThirdDownConversions}}/{{homeStats.ThirdDownAttempts}} ({{homeStats.ThirdDownConversionPercentage | number:1}}%)</td>
        <td>{{awayStats.ThirdDownConversions}}/{{awayStats.ThirdDownAttempts}} ({{awayStats.ThirdDownConversionPercentage | number:1}}%)</td>
      </tr>
      <tr class="odd">
        <td>Fourth Down Conversions/Attempts</td>
        <td>{{homeStats.FourthDownConversions}}/{{homeStats.FourthDownAttempts}} ({{homeStats.FourthDownConversionPercentage | number:1}}%)</td>
        <td>{{awayStats.FourthDownConversions}}/{{awayStats.FourthDownAttempts}} ({{awayStats.FourthDownConversionPercentage | number:1}}%)</td>
      </tr>
      <tr class="even">
        <td>Penalties - Yards</td>
        <td>{{homeStats.Penalties}} - {{homeStats.PenaltyYards}}</td>
        <td>{{awayStats.Penalties}} - {{awayStats.PenaltyYards}}</td>
      </tr>
      <tr class="odd">
        <td>Defensive Sacks - Yards</td>
        <td>{{homeStats.DefensiveSacks}} - {{homeStats.DefensiveSackYardage}}</td>
        <td>{{awayStats.DefensiveSacks}} - {{awayStats.DefensiveSackYardage}}</td>
      </tr>
      <tr class="even">
        <td>Punts - Average</td>
        <td>{{homeStats.PuntingAttempts}} - {{homeStats.PuntingAverageYards | number:1}}</td>
        <td>{{awayStats.PuntingAttempts}} - {{awayStats.PuntingAverageYards | number:1}}</td>
      </tr>
    </tbody>
  </table>
</div>
