<div ng-show="statsAvailable" class="details nfhs-scout-team-stats">
  <table class="nfhs-scout-table">
    <thead>
      <tr>
        <th></th>
        <th title="Kills" class="ng-binding">
          <span class="nfhs-scout-visible-sm">K</span>
          <span class="nfhs-scout-hidden-sm">Kills</span>
        </th>
        <th title="Total Attempts" class="ng-binding">
          <span class="nfhs-scout-visible-sm">TA</span>
          <span class="nfhs-scout-hidden-sm">Total Attempts</span>
        </th>
        <th title="Attack Percentage (Kills - Errors / Attempts)" class="ng-binding">
          <span class="nfhs-scout-visible-sm">PCT</span>
          <span class="nfhs-scout-hidden-sm">Attack Percentage</span>
        </th>
        <th title="Total Blocks (Solo + Assist)" class="ng-binding">
          <span class="nfhs-scout-visible-sm">B</span>
          <span class="nfhs-scout-hidden-sm">Total Blocks</span>
        </th>
        <th title="Team Reception Errors" class="ng-binding">
          <span class="nfhs-scout-visible-sm">RE</span>
          <span class="nfhs-scout-hidden-sm">Reception Errors</span>
        </th>
        <th title="Total Errors">
          <span class="nfhs-scout-visible-sm" class="ng-binding">TE</span>
          <span class="nfhs-scout-hidden-sm">Total Errors</span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th title="{{awayName}}">
          <span ng-show="!showTeamLinks"><img ng-src="{{awayLogo}}" class="nfhs-scout-logo"/><span class="nfhs-scout-hidden-sm">{{awayName}}</span><span class="nfhs-scout-visible-sm">{{awayShortName}}</span></span>
          <a ng-show="showTeamLinks" href="{{awaySlug}}">
            <img ng-src="{{awayLogo}}" class="nfhs-scout-logo"/><span class="nfhs-scout-hidden-sm">{{awayName}}</span><span class="nfhs-scout-visible-sm">{{awayShortName}}</span>
          </a>
        </th>
        <td>{{ awayStats.AttackKills }}</td>
        <td>{{ awayStats.Attacks }}</td>
        <td>{{ awayStats.AttackPercentage | percentage:0:'':'%' }}</td>
        <td>{{ awayStats.BlockSolos + awayStats.BlockAssists }}</td>
        <td>{{ awayStats.ReceptionErrors }}</td>
        <td>{{ awayStats.BlockErrors + awayStats.ReceptionErrors + awayStats.ServeErrors + awayStats.SetErrors + awayStats.AttackErrors }}</td>
      </tr>
      <tr>
        <th title="{{homeName}}">
          <span ng-show="!showTeamLinks"><img ng-src="{{homeLogo}}" class="nfhs-scout-logo"/><span class="nfhs-scout-hidden-sm">{{homeName}}</span><span class="nfhs-scout-visible-sm">{{homeShortName}}</span></span>
          <a ng-show="showTeamLinks" href="{{homeSlug}}">
            <img ng-src="{{homeLogo}}" class="nfhs-scout-logo"/><span class="nfhs-scout-hidden-sm">{{homeName}}</span><span class="nfhs-scout-visible-sm">{{homeShortName}}</span>
          </a>
        </th>
        <td>{{ homeStats.AttackKills }}</td>
        <td>{{ homeStats.Attacks }}</td>
        <td>{{ homeStats.AttackPercentage | percentage:0:'':'%' }}</td>
        <td>{{ homeStats.BlockSolos + homeStats.BlockAssists }}</td>
        <td>{{ homeStats.ReceptionErrors }}</td>
        <td>{{ homeStats.BlockErrors + homeStats.ReceptionErrors + homeStats.ServeErrors + homeStats.SetErrors + homeStats.AttackErrors }}</td>
      </tr>
    </tbody>
  </table>
</div>