<div ng-show="playByPlayAvailable" class="digital-scout-play-by-play">
  <div class="digital-scout-period-selector">
    <ul class="digital-scout-hidden-sm">
      <li class="digital-scout-selector-label">Set:</li>
      <li ng-repeat="period in playByPlayPeriods" ng-class="{'digital-scout-active': selectedPeriod == period.value}">
        <a href ng-click="$parent.selectedPeriod = period.value">{{period.display}}</a>
      </li>
    </ul>
    <div class="digital-scout-visible-sm">
      <label>
        Set
        <select name="digital-scout-period-selector" ng-options="period.value as period.display for period in playByPlayPeriods" ng-model="selectedPeriod" required></select>
      </label>
    </div>
  </div>
  <div class="digital-scout-play-by-play-plays">
    <table class="digital-scout-table">
      <thead>
        <tr>
          <th class="digital-scout-play-by-play-team digital-scout-play-by-play-team-away" title="{{awayName}}">
            <img ng-src="{{awayLogo}}" ng-srcset="{{awayLogoHigh}} 2x" class="digital-scout-logo"/><span class="digital-scout-play-by-play-team-acronym digital-scout-visible-sm-inline">{{awayAcronym}}</span><span class="digital-scout-play-by-play-team-name digital-scout-hidden-sm">{{awayName}}</span>
          </th>
          <th class="digital-scout-play-by-play-score">Score</th>
          <th class="digital-scout-play-by-play-team" title="{{homeName}}">
            <img ng-src="{{homeLogo}}" ng-srcset="{{homeLogoHigh}} 2x" class="digital-scout-logo"/><span class="digital-scout-play-by-play-team-acronym digital-scout-visible-sm-inline">{{homeAcronym}}</span><span class="digital-scout-play-by-play-team-name digital-scout-hidden-sm">{{homeName}}</span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="play in playByPlay | filter:{'GameNumber': selectedPeriod}:true">
          <td ng-class='{"digital-scout-scoring": play.Score > 0, "digital-scout-play-by-play-team": true, "digital-scout-play-by-play-team-away": true }'>
            <span ng-show="play.TeamSeasonId == awayTeamSeasonId" ng-class='{"digital-scout-play-by-play-description": play.Highlight}'>{{play.Description}}</span>
            <a ng-if="play.Highlight" href='{{play.Highlight.LinkToHighlight}}' target="_blank"><i class="playIcon"></i></a>
          </td>
          <td class="digital-scout-play-by-play-score" ng-class='{"digital-scout-scoring": play.Score > 0 }'>{{play.AwayScore}} - {{play.HomeScore}}</td>
          <td ng-class='{"digital-scout-scoring": play.Score > 0, "digital-scout-play-by-play-team": true }'>
            <span ng-show="play.TeamSeasonId == homeTeamSeasonId">{{play.Description}}</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
