<div ng-show="leadersAvailable" class="nfhs-scout-game-leaders nfhs-scout-leaders">
    <h4 class="nfhs-scout-heading">Game Leaders</h4>
    <table class="nfhs-scout-table">
      <thead>
        <tr>
          <th></th>
          <th title="Attack Kills">Kills</th>
          <th title="Service Aces">Aces</th>
          <th title="Block Solos + Block Assists">Blocks</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><img ng-src="{{awayLogo}}" alt="" class="nfhs-scout-logo" /><span class="nfhs-scout-hidden-sm">{{awayName}}</span><span class="nfhs-scout-visible-sm">{{awayShortName}}</span></td>
          <td title="Attack Kills">
            <span ng-hide="leaders[awayTeamSeasonId].attackKills.value == 0">
              <span class="nfhs-scout-leader-name">#{{leaders[awayTeamSeasonId].attackKills.jerseyNumber}} {{leaders[awayTeamSeasonId].attackKills.lastName}}:</span> {{leaders[awayTeamSeasonId].attackKills.value}}
            </span>
          </td>
          <td title="Service Aces">
            <span ng-hide="leaders[awayTeamSeasonId].aces.value == 0">
              <span class="nfhs-scout-leader-name">#{{leaders[awayTeamSeasonId].aces.jerseyNumber}} {{leaders[awayTeamSeasonId].aces.lastName}}:</span> {{leaders[awayTeamSeasonId].aces.value}}
            </span>
          </td>
          <td title="Block Solos + Block Assists">
            <span ng-hide="leaders[awayTeamSeasonId].blocks.value == 0">
              <span class="nfhs-scout-leader-name">#{{leaders[awayTeamSeasonId].blocks.jerseyNumber}} {{leaders[awayTeamSeasonId].blocks.lastName}}:</span> {{leaders[awayTeamSeasonId].blocks.value}}
            </span>
          </td>
        </tr>
        <tr>
          <td><img ng-src="{{homeLogo}}" alt="" class="nfhs-scout-logo" /><span class="nfhs-scout-hidden-sm">{{homeName}}</span><span class="nfhs-scout-visible-sm">{{homeShortName}}</span></td>
          <td title="Attack Kills">
            <span ng-hide="leaders[homeTeamSeasonId].attackKills.value == 0">
              <span class="nfhs-scout-leader-name">#{{leaders[homeTeamSeasonId].attackKills.jerseyNumber}} {{leaders[homeTeamSeasonId].attackKills.lastName}}:</span> {{leaders[homeTeamSeasonId].attackKills.value}}
            </span>
          </td>
          <td title="Service Aces">
            <span ng-hide="leaders[homeTeamSeasonId].aces.value == 0">
              <span class="nfhs-scout-leader-name">#{{leaders[homeTeamSeasonId].aces.jerseyNumber}} {{leaders[homeTeamSeasonId].aces.lastName}}:</span> {{leaders[homeTeamSeasonId].aces.value}}
            </span>
          </td>
          <td title="Block Solos + Block Assists">
            <span ng-hide="leaders[homeTeamSeasonId].blocks.value == 0">
              <span class="nfhs-scout-leader-name">#{{leaders[homeTeamSeasonId].blocks.jerseyNumber}} {{leaders[homeTeamSeasonId].blocks.lastName}}:</span> {{leaders[homeTeamSeasonId].blocks.value}}
            </span>
          </td>
        </tr>
      </tbody>
    </table>
</div>
