.clearfix {
  display: block;
  zoom: 1;

  &:after {
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}

.widget-logo-medium {
  width: 30px;
  height: 30px;
  vertical-align:middle;
}

.scrollable-lg {
  @media (min-width: @screen-sm-cutoff) {
    max-height: 60vh;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }
}

.scrollable-sm {
  @media (max-width: @screen-sm-cutoff) {
    max-height: 60vh;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }
}