.clearfix {
  display: block;
  zoom: 1;

  &:after {
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}

.widget-logo-medium {
  width: 30px;
  height: 30px;
  vertical-align:middle;
}