table.nfhs-scout-table {
  width: 100%;
  border: @table-border-width solid @table-border-color;
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;

  > thead,
  > tbody,
  > tfoot {
    > tr {
      border-width: 0;

      > th,
      > td {
        padding: 8px;
        vertical-align: top;
        border: @table-border-width solid @table-border-color;
      }
    }
  }
  > thead > tr {

    > th,
    > td {
      vertical-align: bottom;
      border-bottom-width: (@table-border-width * 2);
    }
  }

  tbody > tr:nth-child(odd) >  td {
    background-color: @table-bg-accent;
  }

  thead:first-child > tr:first-child > th,td {
    border-top: 0;
  }
}

//responsive tables css converted to less & namespaced from https://github.com/zurb/responsive-tables
@media (min-width: (@screen-sm-cutoff + 1)) {
  .nfhs-scout-table-pinned {
    display: none;
  }
}

@media only screen and (max-width: @screen-sm-cutoff) {
  .nfhs-scout-table-responsive {
    margin-bottom: 0;
    td, th {
      position: relative;
      white-space: nowrap;
      overflow: hidden;

      &:first-child, &td.pinned {
        display: none;
      }
    }
  }

  div.nfhs-scout-responsive-table-wrapper {
    position: relative;
    margin-bottom: 20px;
    overflow-x: hidden;
    border-right: 1px solid transparent;


    div.nfhs-scout-table-scrollable {
      margin-left: 40%;
      overflow: scroll;
      overflow-y: hidden;
      -webkit-overflow-scrolling: touch;
    }

    .nfhs-scout-table-pinned {
      position: absolute;
      left: 0;
      top: 0;
      width: 40%;
      overflow: hidden;
      overflow-x: auto;
      border-right: 2px solid #ccc;

      table {
        border-right: none;
        border-left: none;
        width: 100%;
        margin-bottom: 0;

        th, td {
          white-space: nowrap;
          display:none;

          &:first-child {
            display: table-cell;
          }
        }
      }
      td {
        &:last-child { border-bottom: 0; }
      }
    }
  }
}