
.nfhs-scout-tabs {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  width: 100%;
  display: table;
  table-layout: fixed;

  li {
    margin-right: 2px;
    margin-bottom: -1px;
    display: table-cell;

    a {
      position: relative;
      color: #333;
      background-color: rgb(78, 177, 253);
      background-color: rgba(78, 177, 253, 0.5);
      display: block;
      text-decoration:none;
      padding: 10px 15px;
      text-align: center;
    }

    &.active {
      a, a:hover, a:focus {
        color: #fff;
        cursor: default;
        background-color: rgb(59, 138, 198);
      }
    }
  }
}

.nfhs-scout-tab-container {
  >div {
    border: 1px solid #dddddd;
    clear:both;
    padding:10px;
  }
}