
.nfhs-scout-tabs {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  width: 100%;
  display: table;

  li {
    margin-right: 2px;
    margin-bottom: -1px;
    display: table-cell;

    a {
      position: relative;
      display: block;
      border: 1px solid transparent;
      text-decoration:none;
      padding: 10px 15px;
      text-align: center;
    }

    &.active {
      a, a:hover, a:focus {
        color: #555;
        cursor: default;
        background-color: #fff;
        border: 1px solid #ddd;
        border-bottom-color: transparent;
      }
    }
  }
}



.nfhs-scout-tab-container {
  >div {
    border: 1px solid #dddddd;
    clear:both;
    padding:10px;
  }
}

@media only screen and (max-width: @screen-sm-cutoff) {
  .nfhs-scout-tabs-fixed {
    position: fixed;
    z-index: 9999;
    top: @fixed-nav-top-offset;
    margin: 0;
    left: 0;
    right: 0;
  }

  a.nfhs-scout-tabs-fixed-placeholder { 
    display: block;
    //tab height
    margin-bottom: @tab-height;
  }
}